<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>METS Program</author>
	<description>
		${project.parent.description}
	</description>
	<activator>org.openmrs.module.ugandaemrpoc.UgandaEMRPOCActivator</activator>

	<require_version>${openMRSVersion}</require_version>

	<require_modules>
		<require_module>
			org.openmrs.module.appframework
		</require_module>
		<require_module>
			org.openmrs.module.coreapps
		</require_module>
		<require_module>
			org.openmrs.module.formentryapp
		</require_module>
		<require_module>
			org.openmrs.module.htmlformentry
		</require_module>
		<require_module>
			org.openmrs.module.htmlformentryui
		</require_module>
		<require_module>
			org.openmrs.module.uiframework
		</require_module>
		<require_module>
			org.openmrs.module.uicommons
		</require_module>
		<require_module>
			org.openmrs.module.appui
		</require_module>
		<require_module>
			org.openmrs.module.aijar
		</require_module>

		<require_module>
			org.openmrs.module.patientqueueing
		</require_module>

		<require_module>
			org.openmrs.module.ugandaemrfingerprint
		</require_module>
	</require_modules>

	<privilege>
		<name>App: ugandaemrpoc.triage</name>
		<description>Access to the triage provider dashboard</description>
	</privilege>

	<privilege>
		<name>App: ugandaemrpoc.outpatient</name>
		<description>Access to the OPD clinic provider dashboard</description>
	</privilege>

	<privilege>
		<name>App: ugandaemrpoc.artclinic</name>
		<description>Access to the HIV clinic provider dashboard</description>
	</privilege>

	<privilege>
		<name>App: ugandaemrpoc.tbclinic</name>
		<description>Access to the TB Clinic provider dashboard</description>
	</privilege>

	<privilege>
		<name>App: ugandaemrpoc.laboratory</name>
		<description>Access to the laboratory dashboard</description>
	</privilege>

    <privilege>
        <name>App: ugandaemrpoc.pharmacy</name>
        <description>Access to the Pharmacy dashboard</description>
    </privilege>

	<privilege>
		<name>App: ugandaemrpoc.findPatient</name>
		<description>find patient ugandaemrpoc app privilege</description>
	</privilege>

	<globalProperty>
		<property>ugandaemrpoc.defaultDateFormat</property>
		<defaultValue>dd/MM/yyyy</defaultValue>
		<description>The date format without time</description>
	</globalProperty>

	<globalProperty>
		<property>ugandaemrpoc.displayDateFormat</property>
		<defaultValue>dd/MM/yyyy HH:mm:ss</defaultValue>
		<description>Date format for ugandaemrpoc display and date pickers</description>
	</globalProperty>

	<globalProperty>
		<property>ugandaemrpoc.clinicianLocationUUIDS</property>
		<defaultValue>86863db4-6101-4ecf-9a86-5e716d6504e4,11d5d2b8-0fdd-42e0-9f53-257c760bb9a3,e9bc61b5-69ff-414b-9cf0-0c22d6dfca2b,8f96e239-8586-4ec6-9375-04c6e19628ae,8ab22b55-9a17-4121-bf08-6134a9a2439f,7c231e1a-1db5-11ea-978f-2e728ce88125</defaultValue>
		<description>A comma separated list of location uuids for locations that clinicians operate from</description>
	</globalProperty>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Global Properties -->
</module>

