.htmlform form label, .form label {
    float: left;
    padding: 0px 10px 0 0;
}

.htmlformform input[type="checkbox"], form input[type="radio"], .form input[type="checkbox"], .form input[type="radio"] {
    margin: 10px 15px;
}

.htmlformform table td {
    background: #FFFFFF;
    color: #404040;
}

.htmlformform form select, .form select {
    min-width: 0px;
}

.htmlformform form input, form select, form textarea, form ul.select, .form input, .form select, .form textarea, .form
ul.select {
    background-color: #FBFBFB;
    border: 1px solid #CEC9C9;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 20%;
}

.row {
    width: 100%;
    float: left;
    display: inline-flex;
    clear: both;
}

.row .row-col2 {
    float: left;
    width: 50%;
}

table th, table td {
    border: 1px solid #AFAFAF;
}